<h1 class="titolo-pagina">MODIFICA CLIENTI</h1>

<div class="container card">

  <form class="row g-3" (ngSubmit)="onSubmit()">


    <div class="col-md-6">

      <label for="inputNome" class="form-label">Nome</label>
<input type="text" class="form-control" id="inputCity" [(ngModel)]="clienti.nomeCli" name="Nome">
    </div>
    <div class="col-md-6">
      <label for="inputCitta" class="form-label">Cognome</label>
      <input type="text" class="form-control" id="inputCity" [(ngModel)]="clienti.cognomeCli" name="Cognome">
    </div>
    <div class="col-md-6">
      <label for="inputEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="emailCli" [(ngModel)]="clienti.emailCli" name="Email">
    </div>
    <div class="col-12">
      <label for="inputIndirizzo" class="form-label">Indirizzo</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Via Comune,9" [(ngModel)]="clienti.indirizzoCli" name="Indirizzo"> 
    </div>
    <button type="submit" class="btn btn-primary">Modifica</button>
  </form>
</div>
