<h1 class="titolo-pagina">INVENTARIO</h1>

<div class="container">

<div class="d-flex flex-column bd-highlight mb-4">

  <div class="d-flex flex-column bd-highlight mb-1">
    <div class="p-2 bd-highlight ms-auto me-auto border border-3">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="fixed-height"></th>
            <th class="fixed-height">Id prodotto</th>
            <th class="fixed-height">Descrizone prodotto</th>
            <th class="fixed-height">Quantita prodotto</th>
            <th class="fixed-height">Data Creazione</th>
            <th class="fixed-height">Categoria prodotto</th>

          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let prodotto of prodotti | paginate: { itemsPerPage: righe, currentPage: pagina}">
            <td class="fixed-height">{{ prodotto.idPrd }}</td>
            <td class="fixed-height">{{ prodotto.descPrd }}</td>
            <td class="fixed-height">{{ prodotto.qtaPrd}}</td>
            <td class="fixed-height">{{ prodotto.dataCPrd }}</td>
            <td class="fixed-height">{{ prodotto.categoriaPrd.descPrd }}</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="d-flex flex-column bd-highlight mb-1 me-auto ms-auto">
    <div class="p-2 bd-highlight border border-1 ms-auto me-auto">
      <pagination-controls class="paginazione" (pageChange)="pagina = $event" previousLabel="Precedente" nextLabel="Successivo"></pagination-controls>
    </div>
  </div>
</div>
</div>