 <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src=".\assets\images\logo-exprivia.png" alt="logo Exprivia" title="logo Exprivia" class="footerLogo" style="max-width:200px;max-height:100px;" /><br>
          <p class="text-justify">                      <strong>Exprivia SpA</strong> <em>Società soggetta a direzione e coordinamento della società Abaco Innovazione SpA</em><br><br>
            Sede Legale Via A. Olivetti 11 70056 Molfetta BA<br>
            Capitale Sociale i.v. Euro 26.979.658,16 • N. iscrizione al Reg. Imprese di Bari e C.F. 00721090298 P. IVA 09320730154<br>
       <span>© Tutti i diritti riservati</span></p>
           

            
        </div>

        <div class="col-md-3">
          <h6></h6>
          <ul class="footer-links">
</ul>
        </div>

        <div class="col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="https://www.exprivia.it/it-chi-siamo/">About Us</a></li>
            <li><a href="https://www.exprivia.it/it/privacy-policy/">Privacy Policy</a></li>
            <li><a href="https://www.exprivia.it/it/contatti/">Contatti</a></li>

          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by 
       <a href="#">Exprivia S.p.A</a>.
          </p>
        </div>


      </div>
    </div>
</footer>