.titolo-pagina{
    margin-bottom: 100px;
    background-color: #1E653A;
    font-family: helvetica;
    text-align: center;
}

.material-icons.modifica{
    color: blue;
    cursor: pointer;
    /* margin-left: 20px;  */
    font-size: 18px;

}

.material-icons.dettagli{
    color: aqua;
    cursor: pointer;
    margin-left: 10px; 
    font-size: 18px;

}

.material-icons.elimina{
    color: red;
    cursor: pointer;
    margin-left: 10px; 
    font-size: 18px;

}


i.material-icons
{
    color: violet;
    cursor: pointer;
    font-size: 32px;
}

  .colP { 
    width: 500px; 
  }

  .colDI { 
    width: 5%; 
  }

  .colD { 
    width: 500px; 
  }

  .colDIC { 
    width: 5%; 
  }

  button.btn.btn-danger{
    margin-right: 50px;
  }
