div.container.card{
    width: 500px;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 2%;

}

.titolo-pagina{
    margin-bottom: 100px;
    background-color: #1E653A;
    font-family: helvetica;
    text-align: center;
}