<h1 class="titolo-pagina">AGGINGI CLIENTI</h1>


<div class="container card">
  <form class="row g-3" (ngSubmit)="onSubmit()" #clienteForm="ngForm">

    <div class="col-md-12">
    <div *ngIf="messaggioErrore" class="alert alert-danger">
      {{ messaggioErrore }}
    </div>
  </div>

  <div class="col-md-6">
    <label for="inputNome" class="form-label">Nome</label>
    <input type="text" class="form-control" [(ngModel)]="cliente.nomeCli" name="Nome" required #nomeCli="ngModel">
    <div *ngIf="nomeCli.invalid && nomeCli.touched" style="color: red;">Nome obbligatorio.</div>
  </div>

    <div class="col-md-6">
      <label for="inputCognome" class="form-label">Cognome</label>
      <input type="text" class="form-control" [(ngModel)]="cliente.cognomeCli" name="Cognome" required #cognomeCli="ngModel">
      <div *ngIf="cognomeCli.invalid && cognomeCli.touched" style="color: red;">Cognome obbligatorio.</div>
    </div>


    <div class="col-md-6">
      <label for="codiceFiscaleCli" class="form-label">Codice Fiscale</label>
      <input type="text" class="form-control" placeholder="Es. : RSSMRA80A01H501Z" [(ngModel)]="cliente.codiceFiscaleCli" name="codiceFiscaleCli" pattern="[A-Z]{6}\d{2}[A-Z]\d{2}[A-Z]\d{3}[A-Z]" required #codiceFiscaleCli="ngModel">
      <div *ngIf="codiceFiscaleCli.errors?.['pattern'] && codiceFiscaleCli.touched" style="color: red;">Formato Codice Fiscale non valido.</div>
      <div *ngIf="codiceFiscaleCli.errors?.['required'] && codiceFiscaleCli.touched" style="color: red;">Codice Fiscale obbligatorio.</div>
    </div>

    <div class="col-md-6">
      <label for="emailCli" class="form-label">Email</label>
      <input type="email" class="form-control" [(ngModel)]="cliente.emailCli" name="Email" required pattern=".*@.*" #emailCli="ngModel">
      <div *ngIf="emailCli.errors?.['required'] && emailCli.touched" style="color: red;">Email obbligatoria.</div>
      <div *ngIf="emailCli.errors?.['pattern'] && emailCli.touched" style="color: red;">Formato email non valido.</div>
    </div>

    <div class="col-12">
      <label for="inputAddress" class="form-label">Indirizzo</label>
      <input type="text" class="form-control" placeholder="Via Roma 1" [(ngModel)]="cliente.indirizzoCli" name="Indirizzo" pattern="^[a-zA-Z\s]+\s\d+$" required #indirizzoCli="ngModel">
      <div *ngIf="indirizzoCli.invalid && indirizzoCli.touched" style="color: red;">L'indirizzo deve avere il seguente formato 'via numero'.</div>
    </div>


  <div class="col-md-6">
    <label for="dataCreCli" class="form-label">Data Creazione</label>
    <input type="date" class="form-control" [(ngModel)]="cliente.dataCreCli" name="dataCreCli" required #dataCreCli="ngModel">
  </div>


  <div class="col-md-6">
    <label for="dataCreCli" class="form-label">Profilo</label>
    <select class="form-select" [(ngModel)]="cliente.profiloCli.idPrf" name="profiloIdPrf">
      <option [ngValue]="0">Seleziona un profilo</option>
      <option *ngFor="let prf of Cat" [ngValue]="prf.idPrf">{{ prf.idPrf }} - {{ prf.descPrf }}</option>
    </select>
  </div>
    
    <button type="submit" class="btn btn-primary" [disabled]="!clienteForm.valid">Crea un nuovo cliente</button>

  </form>
  
</div>







