<h1 class="titolo-pagina">ORDINI</h1>

<div class="container">
<div class="d-flex flex-column bd-highlight mb-4">
  <div class="d-flex flex-row bd-highlight mb-3 border-1">
    <div class="p-2 bd-highlight">

    </div>
  </div>

  <div class="d-flex flex-column bd-highlight mb-1">


      <div class="d-flex flex-row bd-highlight mb-3 border-1">
    <div class="p-2 bd-highlight ms-auto me-auto border border-3">
      
      <table class="table table-striped table-hover">
        <thead>
          <tr>
         
            <th>Id Ordine</th>
            <th>Quantità</th>
            <th>Data ordine</th>
            <th>Prodotto</th>
            <th>Cliente</th>
            <th>Actions</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ordine of ordini">

            <td>{{ordine.idOrdine}}</td>
            <td>{{ordine.quantita}}</td>
            <td>{{ordine.dataOrdine}}</td>
            <td>{{ordine.idProdotto.descPrd}}</td>
            <td>{{ordine.idCliente.nomeCli}} {{ordine.idCliente.cognomeCli}}</td>
         

            <td class="fixed-height-2">
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
</div>

  