img {
    display: inline-block;
  }
  
  .dduser {
    margin-right: 10px;
    margin-left: 10px;

  }
  
  .navbar {
    background-color:#022E42;
    font-size: 14px;
    padding: 1%;
}
  
.navbar.navbar-expand-lgt{
  background-color: #022E42;
}

.nav-link{
  color: white;
}

a.navbar-brand{
  color: white;

}



