
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">

    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>

  <div class="carousel-inner">

    <div class="carousel-item active">

      <img src="assets/images/istockphoto-1372111557-612x612.jpg" class="d-block" alt="Mia Immagine">
    </div>

    <div class="carousel-item">
      <img src="assets/images/istockphoto-1391946242-612x612.jpg" class="d-block" alt="Mia Immagine">
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div *ngIf="messaggioBenvenuto">
  <h1 style="text-align:center; margin-bottom:100px"> Benvenuto {{utente}}!</h1>
</div>

<div class="container" style="margin-top:100px; margin-bottom:50px">
  <div class="d-flex justify-content-center t-20">
    <div class="colx" style="width:500px; margin-top:10px"  routerLink="/inventario">

          <h2 class="card-title-inventario">INVENTARIO</h2>
          <img src="assets/images/197-1973185_checklist-icon-orange-check-list-icon.png" alt="" class="img-fluid">

    
    </div>
    <div class="colx" style="margin-left:100px; width:500px; margin-bottom:100px; margin-top:10px"  routerLink="/lista-clienti">
          <h2 class="card-title-lista-clienti">CLIENTI</h2>
          <img src="assets/images/0670ce3628278f83bac514e09e1e1b39-green-user-line-icon2-svg.webp" alt="" class="img-fluid">
      </div>

    <div class="colx" style="margin-left:100px; width:500px; margin-top:10px"  routerLink="/ordini">
          <h2 class="card-title-ordini">ORDINI</h2>
          <img src="assets/images/box.png" alt="" class="img-fluid">
    </div>
  </div>
</div>



